.big-button {
  height: 150px;
  width: 150px;
  font-size: 75px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  border: 4px solid black;
  border-radius: 0px;
  padding: 16px 24px;
  position: relative;
  background-color: transparent;
  align-items: center;
  top: 100px;
  margin: 30px;
  animation-name: button;
  animation-duration: 1s;
 }

.big-button-booked {
  height: 150px;
  width: 150px;
  font-size: 75px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  border: 4px solid #02b3cd;
  border-radius: 0px;
  padding: 16px 24px;
  position: relative;
  background-color: transparent;
  align-items: center;
  top: 100px;
  margin: 30px;
  animation-name: button;
  animation-duration: 1s;
 }

 .big-button-delete {
   height: 150px;
   width: 150px;
   font-size: 75px;
   color: #000000;
   font-family: "Roboto", sans-serif;
   border: 4px solid #ff5f56;
   border-radius: 0px;
   padding: 16px 24px;
   position: relative;
   background-color: transparent;
   align-items: center;
   top: 100px;
   margin: 30px;
   animation-name: button;
   animation-duration: 1s;
  }

 .big-button-delete-stub {
   opactity: 0;
   height: 150px;
   width: 150px;
   font-size: 75px;
   color: #e3f1ff;
   font-family: "Roboto", sans-serif;
   border: 4px solid #e3f1ff;
   border-radius: 0px;
   padding: 16px 24px;
   position: relative;
   background-color: #e3f1ff;
   align-items: center;
   top: 100px;
   margin: 30px;
   animation-name: button-delete-stub;
   animation-duration: 1s;
  }

 .big-button-stub {
   height: 150px;
   width: 150px;
   font-size: 75px;
   color: #e3f1ff;
   font-family: "Roboto", sans-serif;
   border: 4px solid #e3f1ff;
   border-radius: 0px;
   padding: 16px 24px;
   position: relative;
   background-color: #e3f1ff;
   align-items: center;
   top: 100px;
   margin: 30px;
   animation-name: button-stub;
   animation-duration: 1s;
  }

.add-button {
  height: 50px;
  width: 100px;
  font-size: 19px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  border: 4px solid black;
  border-radius: 0px;
  font-weight: bold;
  position: absolute;
  background-color: transparent;
  align-items: center;
  bottom: 9%;
  left: 10%;
  animation-name: button;
  animation-duration: 1s;
}

.delete-button {
  height: 50px;
  width: 100px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  border: 4px solid #ff5f56;
  border-radius: 0px;
  font-weight: bold;
  position: absolute;
  background-color: #ff5f56;
  align-items: center;
  bottom: 9%;
  left: 17%;
  animation-name: button;
  animation-duration: 1s;
}

.cancel-button {
  height: 50px;
  width: 100px;
  font-size: 19px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  border: 4px solid black;
  border-radius: 0px;
  font-weight: bold;
  position: absolute;
  background-color: transparent;
  align-items: center;
  bottom: 10%;
  left: 55%;
  animation-name: button;
  animation-duration: 1s;
}

.choose {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 150px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  position: absolute;
  background: #e3f1ff;
  bottom: 350px;
  right: 100px;
  opacity: 0.2;
  animation-name: text;
  animation-duration: 4s;
}
.the {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 150px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    position: absolute;
    background: #e3f1ff;
    bottom: 150px;
    right: 100px;
    opacity: 0.2;
    animation-name: text;
    animation-duration: 4s;
}

.floor{
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 150px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    position: absolute;
    background: #e3f1ff;
    bottom: -50px;
    right: 100px;
    opacity: 0.2;
    animation-name: text;
    animation-duration: 4s;
}
.floor-stub{
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 150px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    position: absolute;
    background: #e3f1ff;
    bottom: -50px;
    right: 100px;
    opacity: 0;
    animation-name: text-stub;
    animation-duration: 1s;
}
.room{
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 150px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    position: absolute;
    background: #e3f1ff;
    bottom: -50px;
    right: 100px;
    opacity: 0.2;
}



.menu {
  justify-content: center;
  align-items: center;
  height: 100%;
}
.main {
  background: #e3f1ff;
}

@keyframes text {
  from {opacity: 0;}
  to {opacity: 0.2;}
}

@keyframes text-stub {
  from {opacity: 0.2;}
  to {opacity: 0;}
}

@keyframes button {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes button-stub {
  from {
  opacity: 1;
  border: 4px solid black;
  background-color: transparent;
  color: #000000;

}
  to {
  opacity: 0;
  border: 4px solid #e3f1ff;
  background-color: #e3f1ff;
  color: #e3f1ff;
}
}

@keyframes button-delete-stub {
  from {
  opacity: 1;
  border: 4px solid #ff5f56;
  background-color: #ff5f56;
  color: #000000;

}
  to {
  opacity: 0;
  border: 4px solid #e3f1ff;
  background-color: #e3f1ff;
  color: #e3f1ff;
}
}